.nav-list {
  list-style: none;
  color: rebeccapurple;
  display: flex;
  margin-left: 10px;
  font-size: 1.1rem;
  justify-content: space-between;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list-item {
  margin-leftt: 10px;
  font-size: 1.1rem;
}

.img-logo {
  width: 55px;
}
